.envio_participa_beneficio {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1440px;
  border-radius: 25px;
  box-shadow: 0px 0px 6.5px 0px #b8b8b8;
  padding: 1.5rem 0rem;
  transform: translateY(50px);
  opacity: 0%;
  transition: .5s;
  animation-delay: .3s;
  background: white;
  > :nth-child(1) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    width: 90%;
    gap: 3rem;
    > div {
      display: flex;
      flex-flow: column wrap;
      gap: 1rem;
      > :nth-child(3) {
        width: 100%;
        img {
          width: 100%;
          max-width: 45px;
        }
      }
    }
    > :nth-child(3) {
      > :nth-child(3) {
        width: 100%;
        img {
          width: 100%;
          max-width: 250px;
        }
      }
    }
  }
}

.animationN1 {
  transform: translateY(0px);
  opacity: 100%;
  transition: .5s;
  animation-delay: .3s;
}

@media (max-width: 900px) {
  .envio_participa_beneficio {
    padding: 1.2rem 0rem;
    > :nth-child(1) {
      gap: 2.4rem;
      > div {
        gap: 0.8rem;
        p {
          br {
            display: none;
          }
        }
        > :nth-child(3) {
          width: 100%;
          img {
            width: 100%;
            max-width: 36px;
          }
        }
      }
      > :nth-child(3) {
        > :nth-child(3) {
          width: 100%;
          img {
            width: 100%;
            max-width: 200px;
          }
        }
      }
    }
  }
}
