@import "../../../CSS/nav.css";
@import "../../../CSS/envio_participa_beneficio.css";
@import "../../../CSS/footer.css";

$DarkBlue: hsl(233, 26%, 24%);
$DarkBlue2: hsl(233, 26%, 24%, 0.9);
$DarkBlue3: hsl(233, 26%, 24%, 0.2);

:root {
  --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

// FONT

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(180deg, #d06b81 30.07%, #fff 100%);
}

.firstSection {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  padding-top: 2.5rem;
  > :nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 100%;
    }
  }
  > :nth-child(2) {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
    > :nth-child(1) {
      display: flex;
      flex-flow: column wrap;
      text-align: center;
      gap: 1.75rem;
      transform: translateY(-10%) scale(0.9);
      opacity: 0%;
      transition: 1s;
      h1,
      h2 {
        all: unset;
        color: white;
      }
      h1 {
        font-size: 36px;
        font-weight: 700;
      }
      h2 {
        font-size: 27px;
        font-weight: 500;
      }
      > div {
        img {
          width: 100%;
          max-width: 400px;
        }
      }
    }
    .contentProductoEdit {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }
    .envio_participa_beneficio {
      margin-top: -2rem;
    }
    > :nth-child(3) {
      display: flex;
      flex-flow: column wrap;
      margin: 0 auto;
      width: 90%;
      transform: translateY(50px);
      opacity: 0%;
      transition: 0.5s;
      animation-delay: 0.3s;
      > :nth-child(1) {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        padding-top: 1.5rem;
        padding-bottom: 7%;
        box-shadow: 0px 0px 6.5px 0px #b8b8b8;
        background: white;
        > :nth-child(1) {
          margin: 0 auto;
          width: 90%;
          h2 {
            all: unset;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
      > :nth-child(2) {
        border-radius: 25px;
        background: #d06b81;
        margin: 0 auto;
        width: 90%;
        padding: 1.5rem 0rem;
        margin-top: -2.5rem;
        > :nth-child(1) {
          margin: 0 auto;
          width: 90%;
          display: flex;
          flex-flow: column wrap;
          gap: 1rem;
          align-items: center;
          justify-content: center;
          p {
            all: unset;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            color: white;
          }
          div {
            img {
              width: 100%;
              max-width: 50px;
            }
          }
        }
      }
    }
    .AyudanosClass {
      transform: translateY(0px);
      opacity: 100%;
      transition: 0.5s;
      animation-delay: 0.3s;
    }
  }
}

@media (max-width: 875px) {
  .firstSection {
    padding-top: 2rem;
    br {
      display: none;
    }
    > :nth-child(2) {
      gap: 1.4rem;
      > :nth-child(1) {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        gap: 1.75rem;
        h1,
        h2 {
          all: unset;
          color: white;
        }
        h1 {
          font-size: 26px;
          font-weight: 700;
        }
        h2 {
          font-size: 20px;
          font-weight: 500;
        }
        > div {
          img {
            width: 100%;
            max-width: 280px;
          }
        }
      }
      .envio_participa_beneficio {
        margin-top: -1.6rem;
      }
      > :nth-child(3) {
        > :nth-child(1) {
          padding-top: 1.2rem;
          padding-bottom: 5.6%;
          > :nth-child(1) {
            h2 {
              all: unset;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
        > :nth-child(2) {
          padding: 1.2rem 0rem;
          margin-top: -1.35rem;

          > :nth-child(1) {
            gap: 0.8rem;
            p {
              all: unset;
              text-align: center;
              font-size: 14px;
              font-weight: 500;
              color: white;
            }
            div {
              img {
                max-width: 40px;
              }
            }
          }
        }
      }
    }
  }
}

.secondSection {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2.5rem 0rem;
  > :nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 100%;
    }
  }
  > :nth-child(2) {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
    aside {
      width: 70%;
      .ag-timeline {
        display: flex;
        flex-flow: column wrap;
        position: relative;
        justify-content: flex-start;
        margin: 0 auto;
        width: 95%;
        .ag-timeline_line {
          width: 10px;
          position: absolute;
          top: 0;
          left: 0;
          height: 90%;
          .ag-timeline_line-progress {
            width: 100%;
            height: 20%;
            background-color: #d06b81;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
          }
        }
        .ag-timeline_list {
          padding-left: 4%;
          display: flex;
          flex-flow: column wrap;
          gap: 3.5rem;
          .ag-timeline_item {
            display: flex;
            flex-flow: column wrap;
            gap: 3rem;
            margin: 0 auto;
            width: 100%;
            position: relative;
            .ag-timeline-card_item {
              display: flex;
              flex-flow: column wrap;
              gap: 1rem;
              h2,
              h3,
              p {
                all: unset;
                position: relative;
              }
              h2,
              h3 {
                font-weight: 600;
              }
              h2 {
                font-size: 18px;
              }
              h3 {
                font-size: 17px;
              }
              p {
                font-size: 16px;
                font-weight: 500;
              }
              > div {
                img {
                  width: 100%;
                  max-width: 75px;
                }
              }
            }
            > :nth-child(2) {
              // margin-left: -7%;
              display: flex;
              flex-flow: column wrap;
              align-items: center;
              gap: 1.5rem;
              > :nth-child(1),
              > :nth-child(2) {
                display: flex;
                flex-flow: row wrap;
                gap: 1.5rem;
                > div {
                  flex: 1;
                  display: flex;
                  flex-flow: column wrap;
                  justify-content: space-between;
                  border-radius: 25px;
                  background-color: rgb(255, 255, 255);
                  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
                  > :nth-child(1) {
                    margin: 0 auto;
                    width: 90%;
                    display: flex;
                    flex-flow: column wrap;
                    align-items: flex-start;
                    gap: 0.5rem;
                    padding: 1rem 0rem;
                    h3,
                    p {
                      all: unset;
                    }
                    h3 {
                      font-weight: 600;
                      font-size: 17px;
                    }
                    p {
                      font-size: 15px;
                      font-weight: 500;
                    }
                  }
                  > :nth-child(2) {
                    background: #d06b81;
                    border-radius: 0px 0px 25px 25px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 0rem;
                    img {
                      width: 100%;
                      max-width: 40px;
                    }
                  }
                }
              }
              > :nth-child(3) {
                flex: 1;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                border-radius: 25px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
                > :nth-child(1) {
                  margin: 0 auto;
                  width: 90%;
                  display: flex;
                  flex-flow: column wrap;
                  align-items: flex-start;
                  gap: 0.5rem;
                  padding: 1rem 0rem;
                  h3,
                  p {
                    all: unset;
                  }
                  h3 {
                    font-weight: 600;
                    font-size: 17px;
                  }
                  p {
                    font-size: 15px;
                    font-weight: 500;
                  }
                }
                > :nth-child(2) {
                  background: #d06b81;
                  border-radius: 0px 0px 25px 25px;

                  justify-content: center;
                  padding: 1rem 0rem;
                  > :nth-child(1) {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 1.5rem;
                    img {
                      width: 100%;
                      max-width: 40px;
                    }
                    >:nth-child(2){
                      img{
                        width: 100%;
                        max-width: 46px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 875px) {
  aside {
    .ag-timeline {
      width: 95%;
      .ag-timeline_line {
        width: 7.5px;
      }
      .ag-timeline_list {
        padding-left: 8%;
        gap: 3.5rem;
        .ag-timeline_item {
          .ag-timeline-card_item {
            gap: 1rem;
            h2 {
              font-size: 16px;
            }
            h3 {
              font-size: 15px;
            }
            p {
              font-size: 14px;
            }
            > div {
              img {
                max-width: 60px;
              }
            }
          }
        }
      }
    }
  }
}
