@import "../../../CSS/Nav/nav.css";
@import "../../../CSS/Footer/footer.css";
@import "../../../CSS/Fonts/fontSizes.css";
body .cotenido, body .cotenido2, body .cotenido3 {
  position: relative;
  overflow: hidden;
}
body .cotenido > :nth-child(1), body .cotenido2 > :nth-child(1), body .cotenido3 > :nth-child(1) {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  place-content: center;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body .cotenido > :nth-child(1) img, body .cotenido2 > :nth-child(1) img, body .cotenido3 > :nth-child(1) img {
  width: 100%;
}
body .cotenido > :nth-child(2), body .cotenido2 > :nth-child(2), body .cotenido3 > :nth-child(2) {
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 1440px;
}
body .cotenido footer, body .cotenido2 footer, body .cotenido3 footer {
  background: transparent;
  position: relative;
  z-index: 20;
}
body .cotenido footer > :nth-child(1) > :nth-child(1),
body .cotenido footer > :nth-child(1) > :nth-child(2),
body .cotenido footer > :nth-child(1) > :nth-child(3),
body .cotenido footer > :nth-child(1) > :nth-child(4), body .cotenido2 footer > :nth-child(1) > :nth-child(1),
body .cotenido2 footer > :nth-child(1) > :nth-child(2),
body .cotenido2 footer > :nth-child(1) > :nth-child(3),
body .cotenido2 footer > :nth-child(1) > :nth-child(4), body .cotenido3 footer > :nth-child(1) > :nth-child(1),
body .cotenido3 footer > :nth-child(1) > :nth-child(2),
body .cotenido3 footer > :nth-child(1) > :nth-child(3),
body .cotenido3 footer > :nth-child(1) > :nth-child(4) {
  display: none;
}

body .cotenido {
  background: linear-gradient(180deg, #fff 0%, #d06b81 73.5%, #bf5e73 100%);
}
body .cotenido > :nth-child(1) {
  background-image: url("../IMG/Vector.svg");
  animation: waveAnimation 9s infinite;
}
body .cotenido > :nth-child(2) > :nth-child(1) {
  text-align: center;
  color: #bf5e73;
  position: relative;
  padding: 0.5rem 0rem;
  margin: 4.5rem 0rem;
  transform: translateY(-10%) scale(0.9);
  opacity: 0%;
  transition: 1s;
}
body .cotenido > :nth-child(2) > :nth-child(1) > :nth-child(3) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}
body .cotenido > :nth-child(2) .creaTuCancionAnim {
  transform: translateY(0%) scale(1);
  opacity: 1;
}
body .cotenido > :nth-child(2) > :nth-child(2) {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  place-content: center;
  align-items: center;
}
body .cotenido > :nth-child(2) > :nth-child(2) > :nth-child(1) {
  width: 97.5%;
  margin: 0 auto;
  padding: 1.25% 0%;
}

body .cotenido2 {
  background: linear-gradient(180deg, #FFF 0%, #FFE3E9 37.5%, #D06B81 77%);
}
body .cotenido2 > :nth-child(1) {
  background-image: url("../IMG/Vector2.svg");
  animation: waveAnimation 9s infinite;
}
body .cotenido3 {
  background: linear-gradient(180deg, #FFF 0%, #FFE3E9 37.5%, #d18695 77%);
}
body .cotenido3 > :nth-child(1) {
  background-image: url("../IMG/Vector3.svg");
  animation: waveAnimation 9s infinite;
}
@keyframes waveAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */