@import "../../../CSS/Nav/nav.css";
@import "../../../CSS/EnParBen/envio_participa_beneficio.css";
@import "../../../CSS/Footer/footer.css";
@import "../../../CSS/Fonts/fontSizes.css";
body {
  background: linear-gradient(180deg, #d06b81 30.07%, #fff 100%);
}

.fatherSection > :nth-child(2) .firstSection {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  padding-top: 2.5rem;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(1) {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-image: url("../IMG/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(1) img {
  width: 100%;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(1) {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  gap: 1.75rem;
  transform: translateY(-10%) scale(0.9);
  opacity: 0%;
  transition: 1s;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(1) h1,
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(1) h2 {
  color: white;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(1) > div img {
  width: 100%;
  max-width: 400px;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) .contentProductoEdit {
  transform: translateY(0%) scale(1);
  opacity: 1;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) .envio_participa_beneficio {
  margin-top: -2rem;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  width: 90%;
  transform: translateY(50px);
  opacity: 0%;
  transition: 0.5s;
  animation-delay: 0.3s;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(1) {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  padding-top: 1.5rem;
  padding-bottom: 7%;
  box-shadow: 0px 0px 6.5px 0px #b8b8b8;
  background: white;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(1) > :nth-child(1) {
  margin: 0 auto;
  width: 90%;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(2) {
  border-radius: 25px;
  background: #d06b81;
  margin: 0 auto;
  width: 90%;
  padding: 1.5rem 0rem;
  margin-top: -2.5rem;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) p {
  text-align: center;
  color: white;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) div img {
  width: 100%;
  max-width: 50px;
}
.fatherSection > :nth-child(2) .firstSection > :nth-child(2) .AyudanosClass {
  transform: translateY(0px);
  opacity: 100%;
  transition: 0.5s;
  animation-delay: 0.3s;
}
@media (max-width: 900px) {
  .fatherSection > :nth-child(2) .firstSection {
    padding-top: 2rem;
  }
  .fatherSection > :nth-child(2) .firstSection br {
    display: none;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) {
    gap: 1.4rem;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(1) {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    gap: 1.75rem;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(1) h1,
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(1) h2 {
    color: white;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(1) > div img {
    width: 100%;
    max-width: 280px;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) .envio_participa_beneficio {
    margin-top: -1.6rem;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(1) {
    padding-top: 1.2rem;
    padding-bottom: 5.6%;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(2) {
    padding: 1.2rem 0rem;
    margin-top: -1.35rem;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) {
    gap: 0.8rem;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) p {
    text-align: center;
    color: white;
  }
  .fatherSection > :nth-child(2) .firstSection > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) div img {
    max-width: 40px;
  }
}
.fatherSection > :nth-child(2) .secondSection {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2.5rem 0rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(1) {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-image: url("../IMG/Vector 2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(1) img {
  width: 100%;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside {
  width: 85%;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  justify-content: flex-start;
  margin: 0 auto;
  width: 95%;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_line {
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  padding-left: 4%;
  transform: translateY(2.5%);
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_line .ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: #d06b81;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list {
  display: flex;
  flex-flow: column wrap;
  gap: 3.5rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item {
  display: flex;
  flex-flow: column wrap;
  gap: 1.75rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item .ag-timeline-card_item {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item .ag-timeline-card_item h2,
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item .ag-timeline-card_item h3,
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item .ag-timeline-card_item p {
  position: relative;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item .ag-timeline-card_item > div img {
  width: 100%;
  max-width: 75px;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(1),
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(3) {
  padding-left: 8%;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1.5rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(1),
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(1) > div,
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(2) > div {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(1) > div > :nth-child(1),
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(2) > div > :nth-child(1) {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(1) > div > :nth-child(2),
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(2) > div > :nth-child(2) {
  background: #d06b81;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(1) > div > :nth-child(2) img,
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(2) > div > :nth-child(2) img {
  width: 100%;
  max-width: 40px;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(1) {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(2) {
  background: #d06b81;
  border-radius: 0px 0px 25px 25px;
  justify-content: center;
  padding: 1rem 0rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) img {
  width: 100%;
  max-width: 40px;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(2) img {
  width: 100%;
  max-width: 46px;
}
.fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item .finish_item {
  margin-top: -1.5rem;
}
@media (max-width: 900px) {
  .fatherSection > :nth-child(2) .secondSection {
    padding: 1.5rem 0rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) {
    gap: 1.25rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside {
    width: 90%;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    justify-content: flex-start;
    margin: 0 auto;
    width: 100%;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_line {
    width: 7.5px;
    padding-left: 4%;
    transform: translateY(1.5%);
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list {
    gap: 2.5rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item {
    gap: 1.5rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item .ag-timeline-card_item {
    display: flex;
    flex-flow: column wrap;
    gap: 0.75rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item .ag-timeline-card_item > div img {
    width: 100%;
    max-width: 55px;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(1),
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(3) {
    padding-left: 8%;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(1),
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(2) {
    flex-flow: column wrap;
    gap: 1rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(1) > div > :nth-child(1),
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(2) > div > :nth-child(1) {
    width: 95%;
    gap: 0.25rem;
    padding: 0.5rem 0rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(1) > div > :nth-child(2),
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(2) > div > :nth-child(2) {
    padding: 0.5rem 0rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(1) > div > :nth-child(2) img,
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(2) > div > :nth-child(2) img {
    max-width: 33px;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(1) {
    width: 95%;
    gap: 0.25rem;
    padding: 0.5rem 0rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(2) {
    padding: 0.5rem 0rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) {
    gap: 1rem;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) img {
    max-width: 33px;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(2) img {
    max-width: 39px;
  }
  .fatherSection > :nth-child(2) .secondSection > :nth-child(2) aside .ag-timeline .ag-timeline_list .ag-timeline_item .finish_item {
    margin-top: -1.5rem;
  }
}
.fatherSection > :nth-child(2) .thirdSection {
  margin: 0 auto;
  width: 90%;
  max-width: 1250px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  place-content: center;
  position: relative;
}
.fatherSection > :nth-child(2) .thirdSection > :nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.fatherSection > :nth-child(2) .thirdSection > :nth-child(2) {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
}
.fatherSection > :nth-child(2) .thirdSection > :nth-child(2) > div {
  width: 100%;
  max-width: 350px;
}
.fatherSection > :nth-child(2) .thirdSection > :nth-child(2) > div img {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */