@import "../../../CSS/nav.css";
@import "../../../CSS/footer.css";

$DarkBlue: hsl(233, 26%, 24%);
$DarkBlue2: hsl(233, 26%, 24%, 0.9);
$DarkBlue3: hsl(233, 26%, 24%, 0.2);

:root {
  --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

// FONT

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0abbc;
  background-image: url("../IMG/Group.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  padding-top: 8.5rem;
  .specials {
    position: relative;
    width: 100%;
    .backgroundColor {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 21;
      display: flex;
      margin: 0 auto;
      flex-flow: column wrap;
      nav {
        position: fixed;
      }
      > :nth-child(3) {
        margin: 0 auto;
        width: 90%;
        max-width: 1440px;
        border-radius: 20px;
        padding: 1.75rem 0rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        place-content: center;
        background: white;
        transform: translateY(-0.25%) scale(.99);
        > :nth-child(1) {
          width: 95%;
          display: flex;
          flex-flow: column wrap;
          gap: 1rem;
          p,
          h2 {
            all: unset;
          }
          h2 {
            font-size: 20px;
            font-weight: 600;
          }
          p {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
      .textLoadingAnimation{
        transform: translateY(0%) scale(1);
        transition: .3s;
      }
    }
    .backgroundIMG {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: auto;
      z-index: 20;
      img {
        width: 100%;
      }
    }
  }
  footer {
    background: linear-gradient(rgba(240, 171, 188, 0.1) 0%, rgba(186, 89, 110, 1) 100%); /* Linear gradient with opacity */
    margin-top: 2rem;
  }
}

@media (max-width: 875px) {
  body {
    padding-top: 7rem;
    .specials {
      .backgroundColor {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 21;
        display: flex;
        margin: 0 auto;
        flex-flow: column wrap;
        nav {
          position: fixed;
        }
        > :nth-child(3) {
          padding: 1rem 0rem;
          > :nth-child(1) {
            gap: 0.8rem;
            p,
            h2 {
              all: unset;
            }
            h2 {
              font-size: 17px;
              font-weight: 600;
            }
            p {
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
    footer {
      margin-top: 1.6rem;
      background: linear-gradient(
        180deg,
        #f0abbc 0%,
        #f29caf 50%,
        #d56f86 100%
      );
    }
  }
}