@import "../../../CSS/Nav/nav.css";
@import "../../../CSS/Footer/footer.css";
@import "../../../CSS/Fonts/fontSizes.css";

body {
  background: linear-gradient(180deg, #ffe4ea 0%, #f29caf 50%, #d56f86 100%);
  > :nth-child(3) {
    a{
      color: blue;
      cursor: pointer;
      text-decoration: underline;
    }
    position: relative;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    z-index: 1;
    overflow: hidden;
    > :nth-child(1) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      img {
        width: 100%;
        transform: translateX(2%);
        opacity: 80%;
      }
    }
    > :nth-child(2) {
      position: relative;
      width: 90%;
      max-width: 1440px;
      display: flex;
      flex-flow: column wrap;
      margin: 0 auto;
      background: white;
      border-radius: 20px;
      z-index: 10;
      transform: scale(0.99);
      > :nth-child(1) {
        width: 95%;
        margin: 0 auto;
        padding: 1.25% 0%;
        display: flex;
        flex-flow: column wrap;
      }
    }
    .textLoadingAnimation {
      transform: translateY(0%) scale(1);
      transition: 0.3s;
    }
  }
}

footer {
  background: transparent;
  a{
    text-decoration-line: none;
    color: white;
  }
}