@import "../../../CSS/nav.css";
@import "../../../CSS/TimelineLineProgress.css";
@import "../../../CSS/footer.css";
@import "../../../CSS/Fonts/fontSizes.css";

$DarkBlue: hsl(233, 26%, 24%);
$DarkBlue2: hsl(233, 26%, 24%, 0.9);
$DarkBlue3: hsl(233, 26%, 24%, 0.2);

:root {
  --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

body {
  background: linear-gradient(180deg, #fff 0%, #ffe9ee 100%);
}

.contentEmpresas {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 2.5rem 0rem;
  > :nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    img {
      width: 100%;

    }
  }
  > :nth-child(2) {
    display: flex;
    position: relative;
    z-index: 10;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    transform: translateY(-10%) scale(.9);
    opacity: 0%;
    transition: 1s;
    > :nth-child(1) {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      width: 90%;
      margin: 0 auto;
      > :nth-child(1) {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        gap: 1rem;
      }
      > :nth-child(3) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 5.5rem;
        > div {
          img {
            width: 100%;
            max-width: 70px;
            max-height: 100px;
          }
        }
      }
      > :nth-child(4) {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .contentEmpresasEdit{
    transform: translateY(0%) scale(1);
    opacity: 100%;
    transition: 1s;
  }
}

footer {
  z-index: 10;
}

@media (max-width: 875px){
  .contentEmpresas {
    padding: 2rem 0rem;
    br{
      display: none;
    }
    > :nth-child(2) {
      gap: 4rem;
      > :nth-child(1) {
        gap: 4rem;
        > :nth-child(1) {
          gap: .8rem;
        }
        > :nth-child(3) {
          gap: 2.5rem;
          > div {
            img {
              max-width: 56px;
            }
          }
        }
        > :nth-child(4) {
          gap: 1rem;
        }
      }
    }
  }  
}