@import "../../../CSS/nav.css";
@import "../../../CSS/footer.css";

$DarkBlue: hsl(233, 26%, 24%);
$DarkBlue2: hsl(233, 26%, 24%, 0.9);
$DarkBlue3: hsl(233, 26%, 24%, 0.2);

:root {
  --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

// FONT

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(180deg, #fff 0%, #ffe9ee 100%);
}

.contentEmpresas {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 2.5rem 0rem;
  > :nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    img {
      width: 100%;

    }
  }
  > :nth-child(2) {
    display: flex;
    position: relative;
    z-index: 10;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    transform: translateY(-10%) scale(.9);
    opacity: 0%;
    transition: 1s;
    > :nth-child(1) {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      width: 90%;
      margin: 0 auto;
      > :nth-child(1) {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        gap: 1rem;
        h1,
        h2 {
          all: unset;
        }
        h1 {
          font-size: 36px;
          font-weight: 700;
        }
        h2 {
          font-size: 27px;
          font-weight: 500;
        }
      }
      aside {
        .ag-timeline {
          display: flex;
          flex-flow: column wrap;
          position: relative;
          justify-content: flex-start;
          margin: 0 auto;
          width: 95%;
          .ag-timeline_line {
            width: 10px;
            position: absolute;
            top: 0;
            left: 0;
            height: 90%;
            .ag-timeline_line-progress {
              width: 100%;
              height: 20%;
              background-color: #d06b81;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px;
            }            
          }
          .ag-timeline_list {
            padding-left: 4%;
            display: flex;
            flex-flow: column wrap;
            gap: 3.5rem;
            .ag-timeline_item {
              display: flex;
              flex-flow: column wrap;
              margin: 0 auto;
              width: 100%;
              .ag-timeline-card_item {
                display: flex;
                flex-flow: column wrap;
                gap: 1rem;
                h2,
                h3,
                p {
                  all: unset;
                  position: relative;
                }
                h2, h3{
                  font-weight: 600;
                }
                h2{
                  font-size: 18px;
                }
                h3{
                  font-size: 17px;
                }
                p{
                  font-size: 16px;
                }
                > div {
                  img {
                    width: 100%;
                    max-width: 75px;
                  }
                }
              }
            }
          }
        }
      }
      > :nth-child(3) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 5.5rem;
        > div {
          img {
            width: 100%;
            max-width: 70px;
            max-height: 100px;
          }
        }
      }
      > :nth-child(4) {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        h2,
        h3,
        p {
          all: unset;
        }
        h2,
        h3,
        span {
          font-weight: 600;
        }
        h2 {
          font-size: 18px;
        }
        h3 {
          font-size: 17px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
  .contentEmpresasEdit{
    transform: translateY(0%) scale(1);
    opacity: 100%;
    transition: 1s;
  }
}

footer {
  z-index: 10;
}

@media (max-width: 875px){
  .contentEmpresas {
    padding: 2rem 0rem;
    br{
      display: none;
    }
    > :nth-child(2) {
      gap: 4rem;
      > :nth-child(1) {
        gap: 4rem;
        > :nth-child(1) {
          gap: .8rem;
          h1 {
            font-size: 26px;
          }
          h2 {
            font-size: 20px;
          }
        }
        aside {
          .ag-timeline {
            width: 95%;
            .ag-timeline_line {
              width: 7.5px;
            }
            .ag-timeline_list {
              padding-left: 8%;
              gap: 3.5rem;
              .ag-timeline_item {
                .ag-timeline-card_item {
                  gap: 1rem;
                  h2{
                    font-size: 16px;
                  }
                  h3{
                    font-size: 15px;
                  }
                  p{
                    font-size: 14px;
                  }
                  > div {
                    img {
                      max-width: 60px;
                    }
                  }
                }
              }
            }
          }
        }
        > :nth-child(3) {
          gap: 2.5rem;
          > div {
            img {
              max-width: 56px;
            }
          }
        }
        > :nth-child(4) {
          gap: 1rem;
          h2 {
            font-size: 16px;
          }
          h3 {
            font-size: 15px;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }  
}