<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="Escribir canciones personalizadas es nuestra pasión. Puedes dedicar una canción con nosotros al crear canciones con inteligencia artificial. Regalar canciones para dedicar nunca ha sido tan fácil ni rápido. Nuestra IA puede componer canciones por ti, hacer y escribir canciones."/>
	<meta property="og:title" content="Dedica Canciones con Inteligencia Artificial"/>
	<meta property="og:description" content="Escribir canciones personalizadas es nuestra pasión. Puedes dedicar una canción con nosotros al crear canciones con inteligencia artificial. Regalar canciones para dedicar nunca ha sido tan fácil ni rápido. Nuestra IA puede componer canciones por ti, hacer y escribir canciones."/>
    <meta property="og:image" content="../../IMG/FAVICON/favicon-32x32.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Canciones AI"/>
    <meta property="og:locale" content="es_ES"/>
	<link rel="icon" type="image/png" href="../../IMG/FAVICON/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="../../IMG/FAVICON/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../../IMG/FAVICON/android-chrome-192x192.png" sizes="192x192" />
	<link rel="icon" type="image/png" href="../../IMG/FAVICON/android-chrome-512x512.png" sizes="512x512" />
	<meta name="apple-mobile-web-app-title" content="MyWebSite" />
	<link rel="icon" type="image/svg+xml" href="../../IMG/FAVICON/favicon.ico" />
	<link rel="shortcut icon" href="../../IMG/FAVICON/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="../../IMG/FAVICON/apple-touch-icon.png" />
	<link rel="manifest" href="../../IMG/FAVICON/site.webmanifest" />
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<meta name="twitter:title" content="Dedica Canciones con Inteligencia Artificial"/>
	<meta name="twitter:description" content="Escribir canciones personalizadas es nuestra pasión. Puedes dedicar una canción con nosotros al crear canciones con inteligencia artificial. Regalar canciones para dedicar nunca ha sido tan fácil ni rápido. Nuestra IA puede componer canciones por ti, hacer y escribir canciones."/>
    <meta name="twitter:image" content="../../IMG/FAVICON/favicon-32x32.png"/>
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Organization",
			"name": "Canciones AI",
			"url": "https://canciones-ia.vercel.app/",
			"logo": "https://canciones-ia.vercel.app/IMG/FAVICON/favicon.ico",
			"contactPoint": {
				"@type": "ContactPoint",
				"telephone": "+57 322-599-5271",
				"contactType": "Customer Service"
			},
			"sameAs": [
				"https://www.facebook.com/cancionesai",
				"https://twitter.com/cancionesai"
			]
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="CSS/styles.css"/>
	<title>Canciones para dedicar | Crear canción</title>
</head>
<body id="body">
	<nav id="nav">
		<div>
			<div>
				<img src="../../IMG/WEB IMAGES/LOGOS/CPDPNG.png" alt="Logo canciones para dedicar">
			</div>
			<div>
				<div>
					<li class="link">
						<span class="link-click">
							<a href="../../index.html">Inicio</a>
						</span>
					</li>
					<li class="link">
						<span class="link-click">
							<a href="../FaQ’s/index.html">FaQ’s</a>
						</span>
					</li>
					<li class="link">
						<span class="link-click">
							<a href="../Producto/index.html">Regala una canción</a>
						</span>
					</li>
					<li class="link">
						<span class="link-click">
							<a href="../Para empresas/index.html">Para empresas</a>
						</span>
					</li>
					<a href="index.html">Crear canción</a>
				</div>
				<div>
					<svg id="burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#D06B81">
						<path id="burgerPath"
							d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
					</svg>
				</div>
			</div>
		</div>
	</nav>
	<!-- Menú de navegación -->

	<!-- Menú overlay -->
	<div id="overflow" class="overflow">
		<div>
			<li class="link">
				<span class="link-click">
					<a href="../../index.html">Inicio</a>
				</span>
			</li>
			<li class="link">
				<span class="link-click">
					<a href="../FaQ’s/index.html">FaQ’s</a>
				</span>
			</li>
			<li class="link">
				<span class="link-click">
					<a href="../Producto/index.html">Regala una canción</a>
				</span>
			</li>
			<li class="link">
				<span class="link-click">
					<a href="../Para empresas/index.html">Para empresas</a>
				</span>
			</li>
			<a href="index.html">Crear canción</a>
		</div>
	</div>
	<!-- Menú overlay -->

	<div class="cotenido3">
		<div>
			<img src="IMG/Vector.svg" alt="Vector">
		</div>

		<div>
			<div class="wrapper" id="app">
				<div class="card-form">
				  <div class="card-list">
					<div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
					  <div class="card-item__side -front">
						<div class="card-item__focus" v-bind:class="{'-active' : focusElementStyle }" v-bind:style="focusElementStyle" ref="focusElement"></div>
						<div class="card-item__cover"><img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i98YsJ0Nxn1U/v0/-1x-1.jpg" class="card-item__bg"></div>
			  
						<div class="card-item__wrapper">
						  <div class="card-item__top">
			  
							<div class="card-item__type">
							  <transition name="slide-fade-up">
								<img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'" v-if="getCardType" v-bind:key="getCardType" alt="" class="card-item__typeImg">
							  </transition>
							</div>
						  </div>
						  <label for="cardNumber" class="card-item__number" ref="cardNumber">
							<template v-if="getCardType === 'amex'">
							  <span v-for="(n, $index) in amexCardMask" :key="$index">
								<transition name="slide-fade-up">
								  <div class="card-item__numberItem" v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''">*</div>
								  <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" :key="$index" v-else-if="cardNumber.length > $index">
									{{cardNumber[$index]}}
								  </div>
								  <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" v-else :key="$index + 1">{{n}}</div>
								</transition>
							  </span>
							</template>
			  
							<template v-else>
							  <span v-for="(n, $index) in otherCardMask" :key="$index">
								<transition name="slide-fade-up">
								  <div class="card-item__numberItem" v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''">*</div>
								  <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" :key="$index" v-else-if="cardNumber.length > $index">
									{{cardNumber[$index]}}
								  </div>
								  <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" v-else :key="$index + 1">{{n}}</div>
								</transition>
							  </span>
							</template>
						  </label>
						  <div class="card-item__content">
							<label for="cardName" class="card-item__info" ref="cardName">
							  <div class="card-item__holder">Card Holder</div>
							  <transition name="slide-fade-up">
								<div class="card-item__name" v-if="cardName.length" key="1">
								  <transition-group name="slide-fade-right">
									<span class="card-item__nameItem" v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')" v-if="$index === $index" v-bind:key="$index + 1">{{n}}</span>
								  </transition-group>
								</div>
								<div class="card-item__name" v-else key="2">Full Name</div>
							  </transition>
							</label>
							<div class="card-item__date" ref="cardDate">
							  <label for="cardMonth" class="card-item__dateTitle">Expires</label>
							  <label for="cardMonth" class="card-item__dateItem">
								<transition name="slide-fade-up">
								  <span v-if="cardMonth" v-bind:key="cardMonth">{{cardMonth}}</span>
								  <span v-else key="2">MM</span>
								</transition>
							  </label>
							  /
							  <label for="cardYear" class="card-item__dateItem">
								<transition name="slide-fade-up">
								  <span v-if="cardYear" v-bind:key="cardYear">{{String(cardYear).slice(2,4)}}</span>
								  <span v-else key="2">YY</span>
								</transition>
							  </label>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="card-item__side -back">
						<div class="card-item__cover">
						  <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
						</div>
						<div class="card-item__band"></div>
						<div class="card-item__cvv">
						  <div class="card-item__cvvTitle">CVV</div>
						  <div class="card-item__cvvBand">
							<span v-for="(n, $index) in cardCvv" :key="$index">
							  *
							</span>
			  
						  </div>
						  <div class="card-item__type">
							<img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'" v-if="getCardType" class="card-item__typeImg">
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="card-form__inner">
					<div class="card-input">
					  <label for="cardNumber" class="card-input__label">Card Number</label>
					  <input type="text" id="cardNumber" class="card-input__input" v-mask="generateCardNumberMask" v-model="cardNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardNumber" autocomplete="off">
					</div>
					<div class="card-input">
					  <label for="cardName" class="card-input__label">Card Holders</label>
					  <input type="text" id="cardName" class="card-input__input" v-model="cardName" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
					</div>
					<div class="card-form__row">
					  <div class="card-form__col">
						<div class="card-form__group">
						  <label for="cardMonth" class="card-input__label">Expiration Date</label>
						  <select class="card-input__input -select" id="cardMonth" v-model="cardMonth" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
							<option value="" disabled selected>Month</option>
							<option v-bind:value="n < 10 ? '0' + n : n" v-for="n in 12" v-bind:disabled="n < minCardMonth" v-bind:key="n">
							  {{n < 10 ? '0' + n : n}}
							</option>
						  </select>
						  <select class="card-input__input -select" id="cardYear" v-model="cardYear" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
							<option value="" disabled selected>Year</option>
							<option v-bind:value="$index + minCardYear" v-for="(n, $index) in 12" v-bind:key="n">
							  {{$index + minCardYear}}
							</option>
						  </select>
						</div>
					  </div>
					  <div class="card-form__col -cvv">
						<div class="card-input">
						  <label for="cardCvv" class="card-input__label">CVV</label>
						  <input type="text" class="card-input__input" id="cardCvv" v-mask="'####'" maxlength="4" v-model="cardCvv" v-on:focus="flipCard(true)" v-on:blur="flipCard(false)" autocomplete="off">
						</div>
					  </div>
					</div>
			  
					<button class="card-form__button">
					  Submit
					</button>
				  </div>
				</div>
			  
			  </div>
		</div>

	 <!-- Footer -->
	<footer>
		<div>
			<div>
				<h3>Regala una canción personalizada.</h3>
				<p>Nuestro creador de canciones con inteligencia artificial te permite <br>
					dedicar una canción junto a una serie de regalos musicales.</p>
				<div>
					<a href="../Crear canción/index.html">Crear canción</a>

				</div>
			</div>
			<div class="line"></div>
			<form id="footerForm">
				<h2>Déjanos tu email y te informaremos de todavía más ventajas exclusivas</h2>
				<label for="email">Email:</label>
				<div class="inputs-container">
					<div>
						<img src="../../IMG/WEB IMAGES/ICONOS/mail.png" alt="email">
					</div>
					<input class="input-getdata" type="email" id="email" name="email" placeholder="Ejemplo@correo.com"
						required autocomplete="on">
				</div>
				<div>
					<div id="mailLove1">
						<img src="../../IMG/WEB IMAGES/3D/mailLove.png" alt="3D Logo mail love">
					</div>
					<button id="submitFooter">Enviar</button>
					<div id="mailLove2">
						<img src="../../IMG/WEB IMAGES/3D/mailLove2.png" alt="3D Logo mail love">
					</div>
				</div>
			</form>
			<div class="line"></div>
			<div>
				<div>
					<img src="../../IMG/WEB IMAGES/LOGOS/CPDPNG.png" alt="Logo canciones para dedicar">
				</div>
				<div>
					<p>Copyright © <span id="date"></span> | Canciones para dedicar</p>
					<a href="../TyC/index.html">Términos y Condiciones</a>
				</div>
				<div>
					<a target="_blank" href="https://www.linkedin.com/in/canciones%20para%20dedicar/">
						<img src="../../IMG/WEB IMAGES/ICONOS/Whatsapp.svg" alt="Ícono Whatsapp">
					</a>
					<a target="_blank" href="https://www.instagram.com/cancionesparadedicar/">
						<img src="../../IMG/WEB IMAGES/ICONOS/Mail icon.svg" alt="Ícono Mial">
					</a>
					<a target="_blank" href="https://www.linkedin.com/in/canciones%20para%20dedicar/">
						<img src="../../IMG/WEB IMAGES/ICONOS/Linkedin Icon.svg" alt="Ícono linkedIn">
					</a>
					<a target="_blank" href="https://www.instagram.com/cancionesparadedicar/">
						<img src="../../IMG/WEB IMAGES/ICONOS/Instagram Icon.svg" alt="Ícono Instagram">
					</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->
	</div>


	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
	<script src='https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js'></script>
	<script src="../../JS/nav.js"></script>
	<script src="../../JS/footer.js"></script>
	<script src="../../JS/zoom.js"></script>
	<script src="JS/script.js"></script>
</body>
</html>